.form-signin {
  max-width: 330px;
  padding: 15px;
}

.watch {
  width: 100%;

  background-color: rgba(145, 132, 132, 0.5);
  top: 0;
  left: 0;
}
.header {
  min-height: 100vh !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  // background: url("/images/main_background.jpg");
  background-image: linear-gradient(
      rgba(0, 0, 255, 0.5),
      rgba(255, 255, 0, 0.5)
    ),
    url("/images/main_background.jpg");
}

@import "~bootstrap/scss/bootstrap";
